BasedOnStyle: microsoft
IndentWidth: 4

Standard: Latest

BreakAfterReturnType: All
BreakAfterAttributes: Always
BreakBeforeTemplateCloser: true
  
AlignAfterOpenBracket: AlwaysBreak

SortIncludes:
  Enabled: true
  IgnoreCase: false

SortUsingDeclarations: LexicographicNumeric
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1

BraceWrapping:
  AfterNamespace: true
  AfterFunction: true 
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

FixNamespaceComments: true
NamespaceIndentation: All
ReflowComments: Always

ColumnLimit: 90

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false


AlignConsecutiveDeclarations:
  Enabled: true
